.header {
    justify-content:space-between;
    align-items: center;
    color: hsl(236, 13%, 42%);
    position: fixed;
    padding: 10px;
    top: 0px;
    z-index: 1;
    background-color: hsl(36, 100%, 99%);
    width: 100%;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 0px 70px;
}

.header a {
    font-size: 20px;
    margin: 0 10px;
}

a:hover {
    color: hsl(5, 85%, 63%);
    cursor: pointer;
}


